/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3/selection";
@import "compass/css3/transform";
@import "compass/css3/transition";
@import "susy";

/*============================
=            Vars            =
============================*/

$body: #34363D;
$header: #303536;
$background: #FFF;
$color1: #23f0c7;
$color2: #4bb1a0;
$color3: #159e81;
$color4: #6cf2d4;
$color5: #0f705e;

$serif: "soleil",sans-serif;
$sans-serif: "freight-sans-pro", sans-serif;

$default-transition-duration: 0.3s;
$default-transition-function: cubic-bezier(.3,.53,0,1);

$line: 24px;


/*-----  End of Vars  ------*/


/*==================================
=            Typography            =
==================================*/

* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
body {
	font-family: $sans-serif;
	font-style: normal;
	font-weight: 300;
	background: $background;
	color: $body;
	font-size: 18px;
    line-height: $line;
}

* { @include selection(darken($color1, 10), #fff) }

.italic {
    font-style: italic;
    color: $color1;
}

h1, h2, h3, h4, h5, h6 { font-weight: 400; color: $header; font-family: $serif; }
h1 {
    font-weight: 400;
	font-size: 72px;
	line-height: $line*3;
	margin-bottom: $line*2;
}
h2 {
	font-size: 60px;
	line-height: $line*3;
	margin-bottom: $line;
}
h3 {
	font-size: 48px;
	line-height: $line*2;
	margin-bottom: $line;
}
h4 {
	font-size: 24px;
	line-height: $line*1.5;
	margin-bottom: $line;
}
h5 {
	font-size: 18px;
	line-height: $line;
	margin-bottom: $line;
}
h6 {
	font-size: 16px;
	line-height: $line;
	margin-bottom: $line;
}

p {
	line-height: $line;
    margin-bottom: $line;
}

a {
    color: $body;
    &:hover {
        color: darken($body, 25);
    }
}

ul {
    list-style: circle;
}
li {
    line-height: $line;
    margin-left: 1.25em;
}

hr {
    display: block;
    border: 5px solid $color1;
    border-width: 5px 0 0 0;
    width: 150px;
    height: $line;
    margin: $line auto 0;
}

pre {
    float: left;
    width: 100%;
    white-space: pre-wrap;
    font-size: 1em;
    line-height: $line;
    color: lighten($color1, 15);
    box-shadow: inset 0 0 0 -1px darken($header, 25);
    background: $header;
    padding: $line/2 1em;
    margin: $line/2 0;
}

.sub {
    font-size: 18px;
    line-height: $line;
    font-family: $sans-serif;
    color: lighten($body, 25);
}

/*-----  End of Typography  ------*/


/*===========================================
=            Base Element Styles            =
===========================================*/

figure {
    height: $line;
    p { background: $body; color: white; }
}

/*-----  End of Base Element Styles  ------*/




/*==============================
=            Layout            =
==============================*/

nav {
    position: fixed;
    top: $line;
    left: $line;
    a {
        @include transition;
        font-family: $serif;
        text-align: center;
        margin: 0 0 $line;
        width: $line*2;
        height: $line*2;
        line-height: $line*2;
        display: block;
        text-decoration: none;
        background: white;
        border-radius: 100%;
        box-shadow: 1px 1px 10px 0 rgba($body, .35);
        color: $body;
        &:hover {
            color: $color1;
            box-shadow: 2px 2px 12px 0 rgba($body, .3);
            -webkit-transform: scale(1.05);
               -moz-transform: scale(1.05);
                -ms-transform: scale(1.05);
                 -o-transform: scale(1.05);
                    transform: scale(1.05);
        }
        &:active, &.active {
            background: $color1;
            color: white;
        }
    }
}

header {
    padding: $line*6 0 $line*2;
}

.section-title {
    span {
        position: relative;
        &:hover {
            &:after {
                width: 0;
            }
        }
    }
    span:after {
        @include transition;
        position: absolute;
        content:'';
        display: block;
        height: 5px;
        width: 100%;
        margin-top: -$line/2 - 2;
        background: $body;
    }
    font-weight: 400;
    font-family: $sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin-top: $line;
}

section {
    padding: $line*3 0;
}

footer {
    padding: $line*3 0 $line*3;
    margin-top: $line;
    .col-3 {
        margin-bottom: $line;
    }
}
#colophon {
    text-align: center;
    padding: $line*2 0;
    margin-top: 0;
}

/*-----  End of Layout  ------*/


/*=================================
=            Prism CSS            =
=================================*/

code[class*="language-"],
pre[class*="language-"] {
    color: #f8f8f2;
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;

    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;

    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
    overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
    background: #272822;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
    padding: .1em;
    border-radius: .3em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: slategray;
}

.token.punctuation {
    color: #f8f8f2;
}

.namespace {
    opacity: .7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
    color: #f92672;
}

.token.boolean,
.token.number {
    color: #ae81ff;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
    color: #a6e22e;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
    color: #f8f8f2;
}

.token.atrule,
.token.attr-value,
.token.function {
    color: #e6db74;
}

.token.keyword {
    color: #66d9ef;
}

.token.regex,
.token.important {
    color: #fd971f;
}

.token.important,
.token.bold {
    font-weight: bold;
}
.token.italic {
    font-style: italic;
}

.token.entity {
    cursor: help;
}

/*-----  End of Prism CSS  ------*/



