/*============================
=            Grid            =
============================*/
/* line 16, ../../sass/sass/grid1.scss */
.container {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto;
}
/* line 12, ../../../../../.rvm/gems/ruby-2.2.1@global/gems/susy-2.2.3/sass/susy/output/support/_clearfix.scss */
.container:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 21, ../../sass/sass/grid1.scss */
.col-1 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 3.33333%;
  padding-right: 3.33333%;
}

/* line 22, ../../sass/sass/grid1.scss */
.col-2 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 3.33333%;
  padding-right: 3.33333%;
}

/* line 23, ../../sass/sass/grid1.scss */
.col-3 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 3.33333%;
  padding-right: 3.33333%;
}

/* line 24, ../../sass/sass/grid1.scss */
.col-4 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 3.33333%;
  padding-right: 3.33333%;
}

/* line 25, ../../sass/sass/grid1.scss */
.col-5 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 3.33333%;
  padding-right: 3.33333%;
}

/* line 26, ../../sass/sass/grid1.scss */
.col-6 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 3.33333%;
  padding-right: 3.33333%;
}

/* line 27, ../../sass/sass/grid1.scss */
.col-7 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 3.33333%;
  padding-right: 3.33333%;
}

/* line 28, ../../sass/sass/grid1.scss */
.col-8 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 3.33333%;
  padding-right: 3.33333%;
}

/* line 29, ../../sass/sass/grid1.scss */
.col-9 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 3.33333%;
  padding-right: 3.33333%;
}

/* line 30, ../../sass/sass/grid1.scss */
.col-10 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 3.33333%;
  padding-right: 3.33333%;
}

/* line 31, ../../sass/sass/grid1.scss */
.col-11 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 3.33333%;
  padding-right: 3.33333%;
}

/* line 32, ../../sass/sass/grid1.scss */
.col-12 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 3.33333%;
  padding-right: 3.33333%;
}

@media (min-width: 500px) {
  /* line 35, ../../sass/sass/grid1.scss */
  .col-1 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 16.66667%;
    float: left;
    padding-left: 1.66667%;
    padding-right: 1.66667%;
  }

  /* line 36, ../../sass/sass/grid1.scss */
  .col-2 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 16.66667%;
    float: left;
    padding-left: 1.66667%;
    padding-right: 1.66667%;
  }

  /* line 37, ../../sass/sass/grid1.scss */
  .col-3 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 33.33333%;
    float: left;
    padding-left: 1.66667%;
    padding-right: 1.66667%;
  }

  /* line 38, ../../sass/sass/grid1.scss */
  .col-4 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 33.33333%;
    float: left;
    padding-left: 1.66667%;
    padding-right: 1.66667%;
  }

  /* line 39, ../../sass/sass/grid1.scss */
  .col-5 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    float: left;
    padding-left: 1.66667%;
    padding-right: 1.66667%;
  }

  /* line 40, ../../sass/sass/grid1.scss */
  .col-6 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    float: left;
    padding-left: 1.66667%;
    padding-right: 1.66667%;
  }

  /* line 41, ../../sass/sass/grid1.scss */
  .col-7 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    float: left;
    padding-left: 1.66667%;
    padding-right: 1.66667%;
  }

  /* line 42, ../../sass/sass/grid1.scss */
  .col-8 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 66.66667%;
    float: left;
    padding-left: 1.66667%;
    padding-right: 1.66667%;
  }

  /* line 43, ../../sass/sass/grid1.scss */
  .col-9 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 66.66667%;
    float: left;
    padding-left: 1.66667%;
    padding-right: 1.66667%;
  }

  /* line 44, ../../sass/sass/grid1.scss */
  .col-10 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 83.33333%;
    float: left;
    padding-left: 1.66667%;
    padding-right: 1.66667%;
  }

  /* line 45, ../../sass/sass/grid1.scss */
  .col-11 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 83.33333%;
    float: left;
    padding-left: 1.66667%;
    padding-right: 1.66667%;
  }

  /* line 46, ../../sass/sass/grid1.scss */
  .col-12 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding-left: 1.66667%;
    padding-right: 1.66667%;
  }
}
@media (min-width: 800px) {
  /* line 49, ../../sass/sass/grid1.scss */
  .col-1 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 8.33333%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }

  /* line 50, ../../sass/sass/grid1.scss */
  .col-2 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 16.66667%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }

  /* line 51, ../../sass/sass/grid1.scss */
  .col-3 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 25%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }

  /* line 52, ../../sass/sass/grid1.scss */
  .col-4 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 33.33333%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }

  /* line 53, ../../sass/sass/grid1.scss */
  .col-5 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 41.66667%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }

  /* line 54, ../../sass/sass/grid1.scss */
  .col-6 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }

  /* line 55, ../../sass/sass/grid1.scss */
  .col-7 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 58.33333%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }

  /* line 56, ../../sass/sass/grid1.scss */
  .col-8 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 66.66667%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }

  /* line 57, ../../sass/sass/grid1.scss */
  .col-9 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 75%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }

  /* line 58, ../../sass/sass/grid1.scss */
  .col-10 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 83.33333%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }

  /* line 59, ../../sass/sass/grid1.scss */
  .col-11 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 91.66667%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }

  /* line 60, ../../sass/sass/grid1.scss */
  .col-12 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
}
/*-----  End of Grid  ------*/
