/*============================
=            Grid            =
============================*/
/* line 18, ../../sass/sass/grid2.scss */
.container {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto;
}
/* line 12, ../../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/susy-2.2.2/sass/susy/output/support/_clearfix.scss */
.container:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 23, ../../sass/sass/grid2.scss */
.col-1 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 1200px;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

/* line 24, ../../sass/sass/grid2.scss */
.col-2 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 1200px;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

/* line 25, ../../sass/sass/grid2.scss */
.col-3 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 1200px;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

/* line 26, ../../sass/sass/grid2.scss */
.col-4 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 1200px;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

/* line 27, ../../sass/sass/grid2.scss */
.col-5 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 1200px;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

/* line 28, ../../sass/sass/grid2.scss */
.col-6 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 1200px;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

/* line 29, ../../sass/sass/grid2.scss */
.col-7 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 1200px;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

/* line 30, ../../sass/sass/grid2.scss */
.col-8 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 1200px;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

/* line 31, ../../sass/sass/grid2.scss */
.col-9 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 1200px;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

/* line 32, ../../sass/sass/grid2.scss */
.col-10 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 1200px;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

/* line 33, ../../sass/sass/grid2.scss */
.col-11 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 1200px;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

/* line 34, ../../sass/sass/grid2.scss */
.col-12 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 1200px;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

@media (min-width: 500px) {
  /* line 37, ../../sass/sass/grid2.scss */
  .col-1 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 200px;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
  }

  /* line 38, ../../sass/sass/grid2.scss */
  .col-2 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 200px;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
  }

  /* line 39, ../../sass/sass/grid2.scss */
  .col-3 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 400px;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
  }

  /* line 40, ../../sass/sass/grid2.scss */
  .col-4 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 400px;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
  }

  /* line 41, ../../sass/sass/grid2.scss */
  .col-5 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 600px;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
  }

  /* line 42, ../../sass/sass/grid2.scss */
  .col-6 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 600px;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
  }

  /* line 43, ../../sass/sass/grid2.scss */
  .col-7 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 600px;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
  }

  /* line 44, ../../sass/sass/grid2.scss */
  .col-8 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 800px;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
  }

  /* line 45, ../../sass/sass/grid2.scss */
  .col-9 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 800px;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
  }

  /* line 46, ../../sass/sass/grid2.scss */
  .col-10 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 1000px;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
  }

  /* line 47, ../../sass/sass/grid2.scss */
  .col-11 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 1000px;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
  }

  /* line 48, ../../sass/sass/grid2.scss */
  .col-12 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 1200px;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (min-width: 800px) {
  /* line 51, ../../sass/sass/grid2.scss */
  .col-1 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100px;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
  }

  /* line 52, ../../sass/sass/grid2.scss */
  .col-2 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 200px;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
  }

  /* line 53, ../../sass/sass/grid2.scss */
  .col-3 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 300px;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
  }

  /* line 54, ../../sass/sass/grid2.scss */
  .col-4 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 400px;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
  }

  /* line 55, ../../sass/sass/grid2.scss */
  .col-5 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 500px;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
  }

  /* line 56, ../../sass/sass/grid2.scss */
  .col-6 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 600px;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
  }

  /* line 57, ../../sass/sass/grid2.scss */
  .col-7 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 700px;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
  }

  /* line 58, ../../sass/sass/grid2.scss */
  .col-8 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 800px;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
  }

  /* line 59, ../../sass/sass/grid2.scss */
  .col-9 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 900px;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
  }

  /* line 60, ../../sass/sass/grid2.scss */
  .col-10 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 1000px;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
  }

  /* line 61, ../../sass/sass/grid2.scss */
  .col-11 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 1100px;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
  }

  /* line 62, ../../sass/sass/grid2.scss */
  .col-12 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 1200px;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
  }
}
/*-----  End of Grid  ------*/
