/*============================
=            Grid            =
============================*/
/*
*
*   Zoomable baseline grid
*   type size presets
*
*/
/* line 34, ../../sass/sass/grid.scss */
body {
  /* 20px / 28px */
  font-size: 1em;
  line-height: 1.4em;
}

/* line 40, ../../sass/sass/grid.scss */
.container {
  -moz-transition: all 0.15s;
  -o-transition: all 0.15s;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto;
}
/* line 12, ../../../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/susy-2.2.3/sass/susy/output/support/_clearfix.scss */
.container:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 46, ../../sass/sass/grid.scss */
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  -moz-transition: all 0.15s;
  -o-transition: all 0.15s;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
}

/* line 48, ../../sass/sass/grid.scss */
.col-1 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 3.33333%;
  padding-right: 3.33333%;
}

/* line 49, ../../sass/sass/grid.scss */
.col-2 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 3.33333%;
  padding-right: 3.33333%;
}

/* line 50, ../../sass/sass/grid.scss */
.col-3 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 3.33333%;
  padding-right: 3.33333%;
}

/* line 51, ../../sass/sass/grid.scss */
.col-4 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 3.33333%;
  padding-right: 3.33333%;
}

/* line 52, ../../sass/sass/grid.scss */
.col-5 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 3.33333%;
  padding-right: 3.33333%;
}

/* line 53, ../../sass/sass/grid.scss */
.col-6 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 3.33333%;
  padding-right: 3.33333%;
}

/* line 54, ../../sass/sass/grid.scss */
.col-7 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 3.33333%;
  padding-right: 3.33333%;
}

/* line 55, ../../sass/sass/grid.scss */
.col-8 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 3.33333%;
  padding-right: 3.33333%;
}

/* line 56, ../../sass/sass/grid.scss */
.col-9 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 3.33333%;
  padding-right: 3.33333%;
}

/* line 57, ../../sass/sass/grid.scss */
.col-10 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 3.33333%;
  padding-right: 3.33333%;
}

/* line 58, ../../sass/sass/grid.scss */
.col-11 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 3.33333%;
  padding-right: 3.33333%;
}

/* line 59, ../../sass/sass/grid.scss */
.col-12 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 3.33333%;
  padding-right: 3.33333%;
}

@media (min-width: 700px) {
  /* line 62, ../../sass/sass/grid.scss */
  .col-1 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 16.66667%;
    float: left;
    padding-left: 1.66667%;
    padding-right: 1.66667%;
  }

  /* line 63, ../../sass/sass/grid.scss */
  .col-2 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 16.66667%;
    float: left;
    padding-left: 1.66667%;
    padding-right: 1.66667%;
  }

  /* line 64, ../../sass/sass/grid.scss */
  .col-3 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 33.33333%;
    float: left;
    padding-left: 1.66667%;
    padding-right: 1.66667%;
  }

  /* line 65, ../../sass/sass/grid.scss */
  .col-4 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 33.33333%;
    float: left;
    padding-left: 1.66667%;
    padding-right: 1.66667%;
  }

  /* line 66, ../../sass/sass/grid.scss */
  .col-5 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    float: left;
    padding-left: 1.66667%;
    padding-right: 1.66667%;
  }

  /* line 67, ../../sass/sass/grid.scss */
  .col-6 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    float: left;
    padding-left: 1.66667%;
    padding-right: 1.66667%;
  }

  /* line 68, ../../sass/sass/grid.scss */
  .col-7 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    float: left;
    padding-left: 1.66667%;
    padding-right: 1.66667%;
  }

  /* line 69, ../../sass/sass/grid.scss */
  .col-8 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 66.66667%;
    float: left;
    padding-left: 1.66667%;
    padding-right: 1.66667%;
  }

  /* line 70, ../../sass/sass/grid.scss */
  .col-9 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 66.66667%;
    float: left;
    padding-left: 1.66667%;
    padding-right: 1.66667%;
  }

  /* line 71, ../../sass/sass/grid.scss */
  .col-10 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 83.33333%;
    float: left;
    padding-left: 1.66667%;
    padding-right: 1.66667%;
  }

  /* line 72, ../../sass/sass/grid.scss */
  .col-11 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 83.33333%;
    float: left;
    padding-left: 1.66667%;
    padding-right: 1.66667%;
  }

  /* line 73, ../../sass/sass/grid.scss */
  .col-12 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding-left: 1.66667%;
    padding-right: 1.66667%;
  }

  /* line 75, ../../sass/sass/grid.scss */
  .col-offset-1 {
    margin-left: 16.66667%;
  }

  /* line 76, ../../sass/sass/grid.scss */
  .col-offset-2 {
    margin-left: 16.66667%;
  }

  /* line 77, ../../sass/sass/grid.scss */
  .col-offset-3 {
    margin-left: 33.33333%;
  }

  /* line 78, ../../sass/sass/grid.scss */
  .col-offset-4 {
    margin-left: 33.33333%;
  }

  /* line 79, ../../sass/sass/grid.scss */
  .col-offset-5 {
    margin-left: 50%;
  }

  /* line 80, ../../sass/sass/grid.scss */
  .col-offset-6 {
    margin-left: 50%;
  }

  /* line 81, ../../sass/sass/grid.scss */
  .col-offset-7 {
    margin-left: 50%;
  }

  /* line 82, ../../sass/sass/grid.scss */
  .col-offset-8 {
    margin-left: 66.66667%;
  }

  /* line 83, ../../sass/sass/grid.scss */
  .col-offset-9 {
    margin-left: 66.66667%;
  }

  /* line 84, ../../sass/sass/grid.scss */
  .col-offset-10 {
    margin-left: 83.33333%;
  }

  /* line 85, ../../sass/sass/grid.scss */
  .col-offset-11 {
    margin-left: 83.33333%;
  }

  /* line 87, ../../sass/sass/grid.scss */
  body {
    /* 20px / 28px */
    font-size: 1.125em;
    line-height: 1.4em;
  }

  /* line 93, ../../sass/sass/grid.scss */
  .container {
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 12, ../../../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/susy-2.2.3/sass/susy/output/support/_clearfix.scss */
  .container:after {
    content: " ";
    display: block;
    clear: both;
  }

  /* line 97, ../../sass/sass/grid.scss */
  figure.outset-left {
    width: 75%;
    margin-left: -16.66667%;
  }
}
@media (min-width: 1100px) {
  /* line 104, ../../sass/sass/grid.scss */
  .col-1 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 8.33333%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }

  /* line 105, ../../sass/sass/grid.scss */
  .col-2 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 16.66667%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }

  /* line 106, ../../sass/sass/grid.scss */
  .col-3 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 25%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }

  /* line 107, ../../sass/sass/grid.scss */
  .col-4 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 33.33333%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }

  /* line 108, ../../sass/sass/grid.scss */
  .col-5 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 41.66667%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }

  /* line 109, ../../sass/sass/grid.scss */
  .col-6 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }

  /* line 110, ../../sass/sass/grid.scss */
  .col-7 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 58.33333%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }

  /* line 111, ../../sass/sass/grid.scss */
  .col-8 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 66.66667%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }

  /* line 112, ../../sass/sass/grid.scss */
  .col-9 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 75%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }

  /* line 113, ../../sass/sass/grid.scss */
  .col-10 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 83.33333%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }

  /* line 114, ../../sass/sass/grid.scss */
  .col-11 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 91.66667%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }

  /* line 115, ../../sass/sass/grid.scss */
  .col-12 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }

  /* line 117, ../../sass/sass/grid.scss */
  .col-offset-1 {
    margin-left: 8.33333%;
  }

  /* line 118, ../../sass/sass/grid.scss */
  .col-offset-2 {
    margin-left: 16.66667%;
  }

  /* line 119, ../../sass/sass/grid.scss */
  .col-offset-3 {
    margin-left: 25%;
  }

  /* line 120, ../../sass/sass/grid.scss */
  .col-offset-4 {
    margin-left: 33.33333%;
  }

  /* line 121, ../../sass/sass/grid.scss */
  .col-offset-5 {
    margin-left: 41.66667%;
  }

  /* line 122, ../../sass/sass/grid.scss */
  .col-offset-6 {
    margin-left: 50%;
  }

  /* line 123, ../../sass/sass/grid.scss */
  .col-offset-7 {
    margin-left: 58.33333%;
  }

  /* line 124, ../../sass/sass/grid.scss */
  .col-offset-8 {
    margin-left: 66.66667%;
  }

  /* line 125, ../../sass/sass/grid.scss */
  .col-offset-9 {
    margin-left: 75%;
  }

  /* line 126, ../../sass/sass/grid.scss */
  .col-offset-10 {
    margin-left: 83.33333%;
  }

  /* line 127, ../../sass/sass/grid.scss */
  .col-offset-11 {
    margin-left: 91.66667%;
  }

  /* line 129, ../../sass/sass/grid.scss */
  body {
    /* 20px / 28px */
    font-size: 1.25em;
    line-height: 1.4em;
  }

  /* line 135, ../../sass/sass/grid.scss */
  .container {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 12, ../../../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/susy-2.2.3/sass/susy/output/support/_clearfix.scss */
  .container:after {
    content: " ";
    display: block;
    clear: both;
  }

  /* line 139, ../../sass/sass/grid.scss */
  figure.outset-left {
    width: 74.5%;
    margin-left: -12.75%;
  }

  /* line 143, ../../sass/sass/grid.scss */
  blockquote {
    width: 124%;
    margin-left: -12.75%;
  }
}
@media (min-width: 1600px) {
  /* line 151, ../../sass/sass/grid.scss */
  .container {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 12, ../../../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/susy-2.2.3/sass/susy/output/support/_clearfix.scss */
  .container:after {
    content: " ";
    display: block;
    clear: both;
  }
}
/*-----  End of Grid  ------*/
