/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*============================
=            Vars            =
============================*/
/*-----  End of Vars  ------*/
/*============================
=            Grid            =
============================*/
/* line 48, ../../sass/sass/screen.scss */
.container {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto;
}
/* line 12, ../../../../../../../Library/Ruby/Gems/1.8/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
.container:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 53, ../../sass/sass/screen.scss */
.col-1 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 1.2931%;
  padding-right: 1.2931%;
}

/* line 54, ../../sass/sass/screen.scss */
.col-2 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 1.2931%;
  padding-right: 1.2931%;
}

/* line 55, ../../sass/sass/screen.scss */
.col-3 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 1.2931%;
  padding-right: 1.2931%;
}

/* line 56, ../../sass/sass/screen.scss */
.col-4 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 1.2931%;
  padding-right: 1.2931%;
}

/* line 57, ../../sass/sass/screen.scss */
.col-5 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 1.2931%;
  padding-right: 1.2931%;
}

/* line 58, ../../sass/sass/screen.scss */
.col-6 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 1.2931%;
  padding-right: 1.2931%;
}

/* line 59, ../../sass/sass/screen.scss */
.col-7 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 1.2931%;
  padding-right: 1.2931%;
}

/* line 60, ../../sass/sass/screen.scss */
.col-8 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 1.2931%;
  padding-right: 1.2931%;
}

/* line 61, ../../sass/sass/screen.scss */
.col-9 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 1.2931%;
  padding-right: 1.2931%;
}

/* line 62, ../../sass/sass/screen.scss */
.col-10 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 1.2931%;
  padding-right: 1.2931%;
}

/* line 63, ../../sass/sass/screen.scss */
.col-11 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 1.2931%;
  padding-right: 1.2931%;
}

/* line 64, ../../sass/sass/screen.scss */
.col-12 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 1.2931%;
  padding-right: 1.2931%;
}

@media (min-width: 500px) {
  /* line 67, ../../sass/sass/screen.scss */
  .col-1 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 16.66667%;
    float: left;
    padding-left: 1.2931%;
    padding-right: 1.2931%;
  }

  /* line 68, ../../sass/sass/screen.scss */
  .col-2 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 16.66667%;
    float: left;
    padding-left: 1.2931%;
    padding-right: 1.2931%;
  }

  /* line 69, ../../sass/sass/screen.scss */
  .col-3 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 33.33333%;
    float: left;
    padding-left: 1.2931%;
    padding-right: 1.2931%;
  }

  /* line 70, ../../sass/sass/screen.scss */
  .col-4 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 33.33333%;
    float: left;
    padding-left: 1.2931%;
    padding-right: 1.2931%;
  }

  /* line 71, ../../sass/sass/screen.scss */
  .col-5 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    float: left;
    padding-left: 1.2931%;
    padding-right: 1.2931%;
  }

  /* line 72, ../../sass/sass/screen.scss */
  .col-6 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    float: left;
    padding-left: 1.2931%;
    padding-right: 1.2931%;
  }

  /* line 73, ../../sass/sass/screen.scss */
  .col-7 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    float: left;
    padding-left: 1.2931%;
    padding-right: 1.2931%;
  }

  /* line 74, ../../sass/sass/screen.scss */
  .col-8 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 66.66667%;
    float: left;
    padding-left: 1.2931%;
    padding-right: 1.2931%;
  }

  /* line 75, ../../sass/sass/screen.scss */
  .col-9 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 66.66667%;
    float: left;
    padding-left: 1.2931%;
    padding-right: 1.2931%;
  }

  /* line 76, ../../sass/sass/screen.scss */
  .col-10 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 83.33333%;
    float: left;
    padding-left: 1.2931%;
    padding-right: 1.2931%;
  }

  /* line 77, ../../sass/sass/screen.scss */
  .col-11 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 83.33333%;
    float: left;
    padding-left: 1.2931%;
    padding-right: 1.2931%;
  }

  /* line 78, ../../sass/sass/screen.scss */
  .col-12 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding-left: 1.2931%;
    padding-right: 1.2931%;
  }
}
@media (min-width: 800px) {
  /* line 81, ../../sass/sass/screen.scss */
  .col-1 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 8.33333%;
    float: left;
    padding-left: 1.2931%;
    padding-right: 1.2931%;
  }

  /* line 82, ../../sass/sass/screen.scss */
  .col-2 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 16.66667%;
    float: left;
    padding-left: 1.2931%;
    padding-right: 1.2931%;
  }

  /* line 83, ../../sass/sass/screen.scss */
  .col-3 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 25%;
    float: left;
    padding-left: 1.2931%;
    padding-right: 1.2931%;
  }

  /* line 84, ../../sass/sass/screen.scss */
  .col-4 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 33.33333%;
    float: left;
    padding-left: 1.2931%;
    padding-right: 1.2931%;
  }

  /* line 85, ../../sass/sass/screen.scss */
  .col-5 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 41.66667%;
    float: left;
    padding-left: 1.2931%;
    padding-right: 1.2931%;
  }

  /* line 86, ../../sass/sass/screen.scss */
  .col-6 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    float: left;
    padding-left: 1.2931%;
    padding-right: 1.2931%;
  }

  /* line 87, ../../sass/sass/screen.scss */
  .col-7 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 58.33333%;
    float: left;
    padding-left: 1.2931%;
    padding-right: 1.2931%;
  }

  /* line 88, ../../sass/sass/screen.scss */
  .col-8 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 66.66667%;
    float: left;
    padding-left: 1.2931%;
    padding-right: 1.2931%;
  }

  /* line 89, ../../sass/sass/screen.scss */
  .col-9 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 75.0%;
    float: left;
    padding-left: 1.2931%;
    padding-right: 1.2931%;
  }

  /* line 90, ../../sass/sass/screen.scss */
  .col-10 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 83.33333%;
    float: left;
    padding-left: 1.2931%;
    padding-right: 1.2931%;
  }

  /* line 91, ../../sass/sass/screen.scss */
  .col-11 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 91.66667%;
    float: left;
    padding-left: 1.2931%;
    padding-right: 1.2931%;
  }

  /* line 92, ../../sass/sass/screen.scss */
  .col-12 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding-left: 1.2931%;
    padding-right: 1.2931%;
  }
}
/*-----  End of Grid  ------*/
/*==================================
=            Typography            =
==================================*/
/* line 101, ../../sass/sass/screen.scss */
body {
  font-family: "freight-sans-pro", sans-serif;
  font-style: normal;
  font-weight: 300;
  background: #FFF;
  color: #707480;
  font-size: 18px;
}

/* line 53, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-core-1.0.1/stylesheets/compass/css3/_selection.scss */
*::-moz-selection {
  color: #fff;
  background-color: #0ed2ab;
}
/* line 53, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-core-1.0.1/stylesheets/compass/css3/_selection.scss */
*::selection {
  color: #fff;
  background-color: #0ed2ab;
}

/* line 112, ../../sass/sass/screen.scss */
.italic {
  font-style: italic;
  color: #23f0c7;
}

/* line 117, ../../sass/sass/screen.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: 100;
  color: #303536;
  font-family: "jubilat", sans-serif;
}

/* line 118, ../../sass/sass/screen.scss */
h1 {
  font-size: 72px;
  line-height: 72px;
  margin-bottom: 48px;
}

/* line 123, ../../sass/sass/screen.scss */
h2 {
  font-size: 60px;
  line-height: 96px;
  margin-bottom: 24px;
}

/* line 128, ../../sass/sass/screen.scss */
h3 {
  font-size: 48px;
  line-height: 72px;
  margin-bottom: 24px;
}

/* line 133, ../../sass/sass/screen.scss */
h4 {
  font-size: 36px;
  line-height: 48px;
  margin-bottom: 24px;
}

/* line 138, ../../sass/sass/screen.scss */
h5 {
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 24px;
}

/* line 143, ../../sass/sass/screen.scss */
h6 {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 24px;
}

/* line 149, ../../sass/sass/screen.scss */
p {
  text-align: justify;
  line-height: 24px;
  margin-bottom: 24px;
}

/* line 155, ../../sass/sass/screen.scss */
pre {
  float: left;
  box-sizing: border-box;
  width: 100%;
  white-space: pre-wrap;
  font-size: 1em;
  line-height: 24px;
  color: #6bf5d9;
  background: #303536;
  padding: 12px 1em;
  margin: 0 0 24px;
}

/*-----  End of Typography  ------*/
/*==============================
=            Layout            =
==============================*/
/* line 175, ../../sass/sass/screen.scss */
#main-nav {
  position: fixed;
  top: 0;
  left: 0;
  padding: 15px;
}

/* line 182, ../../sass/sass/screen.scss */
main {
  padding: 96px 0;
}

/*-----  End of Layout  ------*/
